Magic 271485
Revision Verdi3_L-2016.06-1

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 28 1908 406 274 99

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/mnt/c/git/mtasim/test_sys_behavior/wave.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 1098474150.000000
cursor 1000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 12
; marker line index
markerPos 16

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G49"
addGroup "G50"
addGroup "G3"
addGroup "G4"
addGroup "G5"
addGroup "G6"
addGroup "G7"
addGroup "G8"
addGroup "G9"
activeDirFile "" "/mnt/c/git/mtasim/test_sys_behavior/wave.fsdb"
addSignal -h 15 -UNSIGNED -UDEC /top_tb/system/tile_2_0/im2col/of_y[5:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope of_x[5:0]
addSignal -h 15 -UNSIGNED -IEEE754 /top_tb/system/tile_2_0/xbar_data_o[1][31:0]
addSignal -h 15 -UNSIGNED -IEEE754 -holdScope bias_data_o[1][31:0]
addSignal -h 15 -UNSIGNED -IEEE754 -holdScope gather_io_data_o[1][31:0]
addSignal -h 15 -UNSIGNED -IEEE754 /top_tb/system/tile_2_0/gather_io/nw_data_i[31:0]
addSignal -h 15 -MAGN -UDEC -holdScope icnt[7:0]
addSignal -h 15 -holdScope ibuf_empty
addSignal -expanded -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[0:62]
addSignal -h 15 -UNSIGNED -HEX -holdScope ibuf_dout[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[0][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[1][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[2][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[3][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[4][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[5][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[6][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[7][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[8][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[9][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[10][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[11][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[12][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[13][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[14][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[15][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[16][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[17][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[18][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[19][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[20][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[21][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[22][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[23][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[24][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[25][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[26][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[27][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[28][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[29][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[30][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[31][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[32][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[33][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[34][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[35][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[36][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[37][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[38][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[39][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[40][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[41][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[42][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[43][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[44][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[45][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[46][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[47][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[48][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[49][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[50][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[51][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[52][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[53][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[54][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[55][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[56][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[57][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[58][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[59][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[60][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[61][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tl_data_o_reg[62][31:0]
addGroup "G10"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/mnt/c/git/mtasim/test_sys_behavior/wave.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/top_tb"
"/top_tb/system"

SCOPE_LIST_BEGIN
"/top_tb"
"/top_tb/system/tile_0_0"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


